/*mainStyle.css*/

/*EA 2014*/

/*ALTERNATIVE*/
 body {
    background-color: #555555;
}
div.img {
    text-align: center;
}
/**************/

/*c1 def*/

/**************/
 h1.c1 {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 180%;
    color: #666666;
}
h2.c1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 110%;
}
a.c1 {
    font-family: Verdana, Geneva, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: #D8D8D8;
}
a.c1:hover {
    color: #383838;
    background: #E8E8E8;
    border-style: solid;
    border-width: 1px;
    border-color: #3B6AA0;
}
p.c1 {
    font-family: Verdana, Geneva, sans-serif;
}
p.c1Small {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 50%;
}
p.c1Small2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 50%;
    text-align: right;
}
table.c1 {
    border: solid #3B6AA0;
    border-width: 1px;
    background-color: #E8E8E8;
}
img.c1 {
    width: 130px;
    height: 130px;
}
img.c1Small {
    width: 24px;
    height: 24px;
    border: 0;
}
div.c1Container0_0 {
    position:absolute;
    left:20.5%;
    width:10%;
    border-width: 10px;
    margin-top:0;
    z-index:2;
}
div.c1Container0_0 img {
    width:100%;
}
div.c1Container0_1 {
    background-color: #D8D8D8;
    position:absolute;
    margin-left:31%;
    width:47%;
    border: solid #3B6AA0;
    border-width: 10px;
    padding: 0.2cm;
    margin-top:0;
    z-index:2;
}
div.c1InfoContainer {
    border: solid #E8E8E8;
    border-width: 1px;
    background-color: #E8E8E8;
    text-align: center;
    margin-left:39%;
    width:20%;
    padding: 0.1cm 0.2cm;
}
div.c1Cover {
    width:99.4%;
    background-color: #555555;
    position:absolute;
    margin-top:-4.5cm;
    height:10.5cm;
}
div.c1ImgContainer {
    text-align: center;
    width:400px;
    padding: 0.1cm;
}
div.c1ImgContainer img {
    width:100%;
}