div.c1Cover
{
z-index:1;
position:absolute;
margin-top:-4.5cm;
width:99.4%;
height:10.5cm;
}

div.c1Container0
{
background-color:#ffffff;
z-index:2;
position:absolute;
margin-top:-4cm;
}

div.c1ImgContainer
{
margin:20% 30% 0% 30%;
}

div.c1ImgContainer img
{
width:100%;
border:0;
}