/* CSS Variables */
:root {
  --primary: #ddd;
  --side: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --backgroundColor:#002147;
  --backgroundColor2:#35424a;
  --textColor1:#f4f4f4;
  --textColor2:#347c98;
  --textColorHeading1:#002147;
  --secondary:#999;
}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--side);
}

body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:var(--backgroundColor);
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}


/*
h1 {
text-align: left;
font-size: 170%;
color: #002147;
}
*/
h2 {
  font-size: 140%;
  color: var(--textColorHeading1);
}
h3 {
  font-size: 120%;
  color:  var(--textColorHeading1);
}
h4 {
  font-size: 110%;
  color:  var(--textColorHeading1);
}

.headerFlex {
  display: flex;
  background-color:var(--backgroundColor);

}
.headerFlex > nav {
  margin-left: auto;
  flex-wrap: wrap;
}
.navFlex {
  display: flex;
  flex-wrap: wrap;
  background-color:var(--backgroundColor);
}
.navFlex > li {
  flex: 1;
}

.button_1{
  height:38px;
  background:var(--textColor2);
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:var(--textColor1);
  cursor: pointer;
}


#navMenu{
  padding-top:5px;
  padding-bottom:5px;
  color:var(--textColor1);
}

#navMenu a:visited {
    color: var(--textColor1);
}
a:visited {
    color: var(--textColor1);
}

/* Header **/
header{
  background-color:var(--backgroundColor);
  color:var(--textColor1);
  padding-top:20px;
  padding-bottom:20px;
  border-bottom:var(--textColor2) 3px solid;
}

header a{
  color:var(--textColor1);
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  font-weight:bold;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color: var(--textColor2);
}

header a:hover{
  color:#cccccc;
}

header .logoImgContainer img{
  height: 50px;
  width: auto;
  padding: 0.2cm;
}

/* Showcase */
#showcase{
  padding-top:5px;
  padding-bottom:5px;
  background:url('../img/background.jpg') no-repeat center center;
  text-align:center;
  color:var(--textColor1);
  background-size:cover;
}

#showcase h1{
  font-size:180%;
  margin:0px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:var(--textColor1);
  background:var(--backgroundColor2);
}

#newsletter form {
  float:right;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* navListAndMapDiv */
.navListAndMapDiv{
  padding-top:5px;
  padding-bottom:5px;
  display:grid;
  grid-template-columns: 40% 60%;
  grid-gap:1em;
}

/* Main-col */
article#main-col{
  background: var(--backgroundColor);
  padding:5px;
}

/* google maps markers */
#map {
  height: 340px;
  width: 100%;
}

/* Sidebar */
aside#sidebar{
  background: var(--backgroundColor);
  padding: 5px 10px 5px 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

#navDiv{
  padding:5px;
  background: var(--primary);
  border-radius: 5px;
}

/* mainContent added to contain all the main box */
article#mainContent {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  background: var(--backgroundColor);
  padding:5px;

}
article#mainContent > div {
  background: var(--backgroundColor);
  width:100%;
  padding:5px;
border: var(--backgroundColor) solid 1px;
}
.boxes2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background: var(--primary);
  padding:5px;
  border-radius: 5px;
}
.boxes2 > div {
  background: var(--primary);
  padding:5px;

}


/* BoxesFooter */

footer{
  padding-top:20px;
  padding-bottom:20px;
  color:var(--textColor1);
  background-color:var(--backgroundColor);
}

footer .dateTxt {
  float:left;
}
footer .copyTxt {
  text-align:right;
  float:right;
}

footer .headerFlex > div {
  margin-left: auto;
  flex-wrap: wrap;
  display:inline;
  float:left;
  padding: 0 20px 0 20px;
}


.box2 ul{
list-style-type: none;
}


/**************//**************//**************//**************/
/*OE*/

/*other*/
.contentItemImgContainer {
  text-align: center;
  padding: 0.1cm;
}
.contentItemImgContainer img {
  width:100%;
}


#listHeader {
  cursor: pointer;
}

/**************/
/*collapsibleList*/
/**************/
.collapsible ul, .collapsible ul li {
  list-style-type: none;
  padding-left: 20px;
}

.collapsible ul li a {
  color: #6E440A;
  text-decoration: none;
}

.collapsible ul li a:hover {
  color: #523205;
  text-decoration: underline;
}

.expand {
  background-image: url('../img/src/button-closed.png');
  background-position: 0 1px;
  background-repeat: no-repeat;
  padding-left: 11px;
  cursor: pointer;
}

.collapse {
  background-image: url('../img/src/button-open.png');
  background-position: 0 1px;
  background-repeat: no-repeat;
  padding-left: 11px;
  cursor: pointer;
}

.leaf {
  background-image: url('../img/src/button.png');
  background-position: 0 1px;
  background-repeat: no-repeat;
  padding-left: 11px;
  cursor: pointer;
}

/**************//**************//**************//**************/


/* Media Queries */
@media(max-width: 768px){

  .headerFlex {
    flex-wrap: wrap;
  }

  .headerFlex > div {
    flex-basis: 100%;
  }
  .navFlex {
    flex-wrap: wrap;
  }
  .navFlex > li {
    flex-basis: 100%;
  }
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form{
    float:none;
    text-align:center;
    width:100%;
  }

  .boxes,
  .box1,
  .boxes2,
  .box2,
  .boxesFooter .box1,
  article#main-col,
  article#mainContent,
  aside#sidebar{
grid-template-columns: 1fr;
    float:none;
    width:100%;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }

  .navListAndMapDiv {
    grid-template-columns: 1fr;
  }
}
