body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}



/*
h1 {
text-align: left;
font-size: 170%;
color: #002147;
}
*/
h2 {
font-size: 140%;
color: #002147;
}
h3 {
font-size: 120%;
color: #002147;
}
h4 {
font-size: 110%;
color: #002147;
}


.contentItem a{
  text-decoration:none;
}

.contentItem li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}




.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}


header .logoImgContainer img{
  width: 60px;
  height: auto;
}


/* Showcase */
#showcase{
  min-height:60px;
  background:url('../img/background.jpg') no-repeat center center;
  text-align:center;
  color:#ffffff;
  background-size:     cover;
}

#showcase h1{
  margin-top:15px;
  font-size:240%;
  margin-bottom:15px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}


/* google maps markers */
#map {
  height: 340px;
  width: 100%;
}




/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:100%;
}

/* BoxesFooter */
#boxesFooter{
  margin-top:20px;
}

#boxesFooter .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxesFooter .box img{
  width:100%;
}

/* Sidebar */
aside#sidebar{
  float:left;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:right;
  width:65%;
  padding:5px;
}

/* mainContent added to contain all the main box */
article#mainContent{
  width:100%;
  padding:5px;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}






/**************//**************//**************//**************/
/*OE*/

/**/
.contentItem {
  background-color:#dddddd;
  float:left;
  width:98%;
  padding:0.5%;
  margin:0.5%;
}
.contentItem p {
    text-align: justify;
    text-justify: inter-word;
}
/**/
.contentItemText {
  background-color:#dddddd;
  float:left;
  width:55%;
  padding:0.5%;
  margin:0.5%;
}
/**/
.contentItemImg {
  background-color:#dddddd;
  float:left;
  width:41%;
  padding:0.5%;
  margin:0.5%;
}
/*other*/
.contentItemImgContainer {
  text-align: center;
  padding: 0.1cm;
  width:100%;
}
.LogoImgContainer img {
  height: 40px;
    width: auto;
  padding: 0.1cm;
}



#listHeader {
  cursor: pointer;
}

.navMenuContainerClass {
  overflow-x: scroll;
}
/**************/
/*collapsibleList*/
/**************/
.collapsible ul, .collapsible ul li {
  list-style-type: none;
  padding-left: 20px;
}

.collapsible ul li a {
  color: #6E440A;
  text-decoration: none;
}

.collapsible ul li a:hover {
  color: #523205;
  text-decoration: underline;
}

.expand {
  background-image: url('../img/src/button-closed.png');
  background-position: 0 1px;
  background-repeat: no-repeat;
  padding-left: 11px;
  cursor: pointer;
}

.collapse {
  background-image: url('../img/src/button-open.png');
  background-position: 0 1px;
  background-repeat: no-repeat;
  padding-left: 11px;
  cursor: pointer;
}

.leaf {
  background-image: url('../img/src/button.png');
  background-position: 0 1px;
  background-repeat: no-repeat;
  padding-left: 11px;
  cursor: pointer;
}

/**************//**************//**************//**************/



/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
