.collapsible ul, .collapsible ul li {
	list-style-type: none;
    padding-left: 20px;
}
 
.collapsible ul li a {
	color: #6E440A;
	text-decoration: none;
}
 
.collapsible ul li a:hover {
	color: #523205;
	text-decoration: underline;
}


.expand {
    background-image: url('../image/src/button-closed.png');
	    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 11px;
}

.collapse {
    background-image: url('../image/src/button-open.png');
	    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 11px;
}

.leaf {
    background-image: url('../image/src/button.png');
	    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 11px;
}