.accord ul, .accord ul li {
	list-style-type: none;
}
 
.accord ul li a {
	color: #6E440A;
	text-decoration: none;
}
 
.accord ul li a:hover {
	color: #523205;
	text-decoration: underline;
}


.expand {
    background-image: url('../image/src/button-open.png');
	    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 12px;
}

.collapse {
    background-image: url('../image/src/button-closed.png');
	    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 12px;
}
